<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{MM-dd HH:mm:ss} [%t] %-5p %c %M(%L)- %m%n" />
		</Console>
	</Appenders>
	<Loggers>

		<Logger name="jdbc.sqlonly" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="jdbc.sqltiming" level="off" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="jdbc.resultsettable" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="jdbc.audit" level="off" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="jdbc.resultset" level="off" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="jdbc.connection" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>