<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="content">

	Main Page입니데잉 !!!!!

	<div sec:authorize="isAnonymous()">로그인 전입니다.</div>

	<div sec:authorize="isAuthenticated()">
		<span sec:authentication="principal.fullName">사용자이름</span> <span
			sec:authentication="principal.deptName">부서</span> 
			<br />session:
		<span th:text="${session.deptName}">부서명</span>
	</div>

	<div sec:authorize="hasRole('ROLE_ADMIN')">ADMIN 권한이 있으면</div>
	
	

</body>
</html>